@font-face {
  font-family: 'PingFang';
  src: url('../font/PingFang.ttf');
}

input.one-dateBox {
  position: relative;
  /* width: auto; */
  height: 30px;
  border-radius: 5px;
  padding: 5px 25px 5px 5px;
  /* font-size: 16px; */
  box-sizing: border-box;
}

.one-calendar {
  $bg-color: #222;
  $active-color: #8392ff;

  position: absolute;
  display: none;
  font-family: 'PingFang';
  font-size: 16px;
  color: #fff;
  background: $bg-color;
  cursor: default;
  overflow: hidden;
  z-index: 1000;

  *::selection {
    background: none;
  }

  .last-month,
  .next-month {
    color: #777;
    font-weight: 600;
  }

  .tips {
    font-size: 12px;
  }

  .one-calendar-toolbar {
    position: absolute;
    width: 100%;
    padding: 5px 5px 0;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .one-move-circle {
    display: none;
    position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-image: radial-gradient(#888, $bg-color 75%);
    z-index: -1;
  }

  .iconfont:hover,
  .one-calendar-nav-time.able:hover {
    color: $active-color;
    cursor: pointer;
  }

  .one-calendar-nav {
    display: flex;
    justify-content: space-between;
    background: $bg-color;
    padding: 1.5em 1.4em 0;

    // .iconfont:hover,
    // .one-calendar-nav-time.able:hover {
    //   color: $active-color;
    //   cursor: pointer;
    // }

    .one-calendar-nav-time {
      display: none;
      white-space: nowrap;
    }

    .one-calendar-nav-time.show {
      display: inline-block;
    }

    .one-calendar-nav-time,
    .one-calendar-location,
    .one-calendar-nav-menu {
      width: 33.3%;
    }

    .one-calendar-location {
      text-align: center;
    }

    .one-calendar-nav-menu {
      text-align: right;
    }

  }

  .table-container {
    width: 254px;
    height: 282px;
    border: 1em solid $bg-color;
    z-index: 15;
    overflow: hidden;
  }

  .out-in {
    animation: out-in linear .3s;
  }

  .in-out {
    animation: in-out linear .3s;
  }

  table {
    border-collapse: collapse;
  }

  th,
  td {
    padding: 0;
    border: 2px solid $bg-color;
  }

  .one-calendar-header,
  .one-calendar-cell {
    padding: 2px;
    text-align: center;

    .date-cell,
    .week-cell {
      display: inline-block;
      width: 30px;
      height: 34px;
      line-height: 30px;
      background: #222;
      border: 2px solid transparent;
      box-sizing: border-box;
    }

    .month-cell {
      display: inline-block;
      width: 57px;
      height: 87.5px;
      line-height: 86px;
      background: #222;
      border: 2px solid transparent;
      box-sizing: border-box;
    }

    .year-cell {
      display: inline-block;
      width: 57px;
      height: 50px;
      line-height: 46px;
      background: #222;
      border: 2px solid transparent;
      box-sizing: border-box;
    }
  }

  .one-calendar-header {
    background: $bg-color;
  }

  .one-calendar-cell {
    background: transparent;
  }

  .one-calendar-cell:hover {
    background: $active-color
  }

  .one-calendar-cell.active {
    color: #fff;
    background: $active-color;
  }

  .one-calendar-cell.today {
    color: #fff;
    background: $active-color;

    span {
      background: $active-color;
    }
  }

  .one-calendar-cell.today.active {
    span {
      border-color: $bg-color;
    }
  }

  @keyframes out-in {
    0% {
      opacity: 1;
      transform: scale(1);
    }

    25% {
      opacity: 0;
      transform: scale(.3);
    }

    75% {
      opacity: 0;
      transform: scale(2);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes in-out {
    0% {
      opacity: 1;
      transform: scale(1);
    }

    25% {
      opacity: 0;
      transform: scale(2);
    }

    75% {
      opacity: 0;
      transform: scale(0);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}